.film_preview_image {
  height: 35vw !important;
  width: 25vw !important;
  object-fit: cover;
  border-radius: 2vw;
  margin-right: 1vw;
}
.description_card {
  width: 32%;
  height: 35vw !important;
  background-color: #eaeaea;
  border-radius: 3vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: start;
  justify-content: flex-start;
  margin-left: 1vw;
  overflow-y: auto;
  overflow-x: hidden;
}
.card_text_head {
  width: 50%;
  margin-left: 7%;
  margin-top: 7%;
}
.card_text {
  margin-left: 7%;
}
.sessions_list {
  margin-bottom: 2vw;
}
.film_info_block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 5vw;
}
.description_card::-webkit-scrollbar {
    display: none;
}
.session_title_block {
  margin-top: 1vw;
}
.span_info_block {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}
.countries_block {
  max-width: 15vw;
  overflow-x: auto;
  margin-left: 0.8vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 0.2vw;
  border-radius: 0.5vw;
}
.countries {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 0.1vw;
  flex-direction: row;
}
.countries span {
  color: #aaaaaa;
  font-weight: bold;
  padding: 0.4vw;
}
.countries_block::-webkit-scrollbar {
  height: 5px;
}
.countries_block::-webkit-scrollbar-thumb {
  background-color: #0d1d3a;
  border-radius: 5vw;
  border: 2px solid #eaeaea;
}
.age_limit {
  padding: 0.1vw;
  padding-left: 0.25vw;
  padding-right: 0.25vw;
  border: 0.15vw solid #aaaaaa;
  color: #aaaaaa;
  font-weight: bold;
  border-radius: 0.5vw;
  font-size: 0.7vw;
}