.seats_card {
    margin: 2vw auto 5vw;
    background-color: #eaeaea;
    border-radius: 3vw;
    display: flex;
    width: 46%;
    max-height: 50vw;
    overflow: auto;
    flex-direction: column;
    flex-wrap: nowrap;
}

.table_card {
    margin: 3vw;
    margin-top: 1.5vw;
}

.seat_checkbox {
    display: none;
}

.seat_checkbox:checked + .seat_number {
    color: #eaeaea;
}

.selected, .selected:hover {
    background-color: #0d1d3a;
}

.seat_number {
    width: 1vw;
    height: 1.1vw;
    text-align: center;
}

.buy_btn {
    margin-top: 2vw;
}

.ticket_film_image, .film_session_image {
    object-fit: cover;
    height: 20vw;
    width: 25%;
    border-radius: 3vw;
}

.film_session_image {
    margin-top: 4vw;
    width: 12vw;
}

.film_info_block {
    margin: 5vw auto 0; 
    width: 46%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    height: 20vw;
    overflow-y: auto;
}

.film_info_text_block {
    height: 20vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 1vw;
}

.film_info_text, .film_info_description {
    color: #eaeaea;
}

.film_info_description {
    max-height: 9.9vw;
    overflow-y: auto;
}

.cell {
    background-color: transparent;
    height: 4vw;
    min-width: 3.5vw;
}

.row_number_cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw;
}

.seats_card::-webkit-scrollbar {
    display: none;
}

.film_info_description::-webkit-scrollbar {
    width: 5px;
}

.film_info_description::-webkit-scrollbar-thumb {
    background-color: #eaeaea;
    border-radius: 5vw;
}

.horizontal_line {
    margin: 1vw 3.5vw;
    border-top: 10px solid; 
}

.display_title {
    width: 100%;
    text-align: center;
    font-size: 1.2vw;
}

.disabled {
    background-color: #5a5a5a !important;
}

.seats_form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
