.seats_card {
    margin-left: 27%;
    margin-right: 27%;
    margin-top: 2vw;
    margin-bottom: 5vw;
    background-color: #eaeaea;
    border-radius: 3vw;
    display: flex;
    width: 46%;
    max-height: 50vw;
    overflow-x: scroll;
    overflow-y: scroll;
    flex-direction: column;
    flex-wrap: nowrap;
}
.table_card {
    margin: 3vw;
}
.seat_checkbox {
    display: none;
}
.seat_checkbox:checked + .seat_number {
    color: #eaeaea;
}
.selected {
    background-color: #0d1d3a;
}
.selected:hover {
    background-color: #0d1d3a;
}
.seat_number {
    width: 1vw;
    height: 1.1vw;
    text-align: center;
}
.buy_btn {
    float: bottom;
    margin-top: 1.5vw;
}
.ticket_film_image {
    object-fit: cover;
    height: 20vw !important;
    width: 25% !important;
    border-radius: 3vw;
}
.film_session_image {
    margin-top: 4vw;
    object-fit: cover;
    height: 20vw !important;
    width: 12vw !important;
    border-radius: 3vw;
}
.film_info_block {
    margin-top: 5vw;
    margin-right: 27%;
    margin-left: 27%;
    width: 46%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    height: 20vw;
    overflow-y: auto;
}
.film_info_text_block {
    height: 20vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 1vw;
}
.film_info_text, .film_info_description {
    color: #eaeaea;
}
.film_info_description {
    max-height: 9.9vw;
    overflow-y: auto;
}
.cell {
    background-color: transparent !important;
    height: 4vw;
    min-width: 3.5vw;
    
}
.row_number_cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw;
}
.seats_card::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}
.seats_card::-webkit-scrollbar-thumb {
    background-color: #0d1d3a;
    border-radius: 5vw;
    border: 1px solid #eaeaea;
}
.film_info_description::-webkit-scrollbar {
    width: 5px;
}
.film_info_description::-webkit-scrollbar-thumb {
    background-color: #eaeaea;
    border-radius: 5vw;
}