.carousel_films {
    margin-top: 1vw;
    height: 35vw;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex;
    justify-content: center;
}
.carousel_title {
    margin-top: 3vw;
}
.film_preview_image {
    object-fit: cover;
    height: 35vw !important;
    width: 25vw !important;
    border-radius: 3vw;
}
.film_card_column::-webkit-scrollbar {
    height: 7px;
}
.film_card_column::-webkit-scrollbar-thumb {
    background-color: #0d1d3a;
    border-radius: 5vw;
    border: 1px solid #ffffff;
}