.btn, .nav-link {
    border-radius: 1vw !important;
}
body {
    background-color: #0d1d3a;
}
html::-webkit-scrollbar {
  width: 0.8vw;
}
html::-webkit-scrollbar-thumb {
  background-color: #eaeaea;
  border-radius: 5vw;
  border: 4px solid #0d1d3a;
}