.film_preview_image {
    object-fit: cover;
    height: 35vw !important;
    width: 25vw !important;
    border-radius: 3vw;
}
.film_session_image {
    margin-top: 40px;
    object-fit: cover;
    height: 20vw !important;
    width: 50% !important;
    border-radius: 3vw;
}
.line {
    width: 30%;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 70%;
    border-radius: 3vw;
    margin-left: 5%;
    margin-top: 150px;
}
h6 {
    text-align: center;
    margin-top: 4px;
}
.seat_number {
    width: 20px;
    height: 18px;
    text-align: center;
}
.buy_btn {
    float: bottom;
    margin-top: 40px;
}
.ticket_film_image {
    object-fit: cover;
    height: 20vw !important;
    width: 25% !important;
    border-radius: 3vw;
}
.caption_block {
    background-color: rgba(13, 39, 58, 0.8);
    border-radius: 2vw;
    width: 40%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    margin-left: 15%;
}
.header_title {
    width: 100%;
    text-align: center;
    color: #eaeaea;
    font-weight: bold;
    margin-bottom: 2vw;
}
.timetable_block {
    margin-top: 10vw;
    height: 100vw;
}
.tab_btn {
    color: #eaeaea !important;
}
.tab_btn.active {
    color: #0d1d3a !important;
}
.timetable_body.active {
    margin-top: 1vw;
    margin-bottom: 10vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    flex-direction: column;
}
.seats_card {
    width: 100%;
    background-color: #eaeaea;
    margin-top: 1vw;
    margin-bottom: 1vw;
    border-radius: 3vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}
.card_body {
    width: 80%;
    margin-top: 180px;
    margin: 0 auto;
}
.rows {
    margin-top: 30%;
}
.film_card {
    width: 100%;
    background-color: #eaeaea;
    margin-top: 1vw;
    margin-bottom: 1vw;
    border-radius: 3vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}
.film_card_image {
    object-fit: cover;
    height: 15vw !important;
    width: 10vw !important;
    border-radius: 3vw;
}
.film_card_column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 10vw;
    margin-left: 2vw;
    overflow-x: scroll;
}
.film_card_column::-webkit-scrollbar {
    height: 7px;
}
.film_card_column::-webkit-scrollbar-thumb {
    background-color: #0d1d3a;
    border-radius: 5vw;
    border: 1px solid #ffffff;
}
.film_card_title_row {
    height: 20%;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}
.film_card_row {
    height: 60%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.film_card_footer {
    height: 20%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}
.film_session {
    background-color: rgb(255, 64, 96);
    color: #eaeaea;
    font-weight: bold;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.film_session:hover {
    background-color: rgb(196, 47, 72);
}
.session_time {
    font-size: 12px;
    color: #eaeaea;
}
.genre {
    margin-right: 0.5vw;
}
body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-thumb {
    background-color: #eaeaea;
    border-radius: 5vw;
    border: 2px solid #0d1d3a;
}