.caption_block {
    background-color: rgba(13, 39, 58, 0.8);
    border-radius: 2vw;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15%;
}

.header_title {
    width: 100%;
    text-align: center;
    color: #eaeaea;
    font-weight: bold;
    margin-bottom: 2vw;
}

.timetable_block {
    margin-top: 10vw;
    height: 100vw;
}

.tab_btn {
    color: #eaeaea !important;
}

.tab_btn.active {
    color: #0d1d3a !important;
}

.timetable_body.active {
    margin-top: 1vw;
    margin-bottom: 10vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    flex-direction: column;
}

.session_time {
    font-size: 12px;
    color: #eaeaea;
}

.genre {
    margin-right: 0.5vw;
}

.film_session {
    background-color: rgb(255, 64, 96);
    color: #eaeaea;
    font-weight: bold;
    padding: 1vw 0.8vw;
    margin: 0.3vw;
    border-radius: 0.5vw;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.film_session:hover {
    background-color: rgb(196, 47, 72);
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: #eaeaea;
    border-radius: 5vw;
    border: 2px solid #0d1d3a;
}

.error_code {
    font-size: 5vw;
    color: #eaeaea;
}

.error_title, .error_text {
    color: #eaeaea;    
}

.error_info_block {
    height: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_block {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}