{% load static %}
<link href="{% static 'css/includes/footer.css' %}" rel="stylesheet">
<footer class="footer bg-dark text-light fixed-bottom">
    <div class="content_footer_block">
        <img class="header_icon" src="{% static 'img/logo.jpg' %}">
        <p class="mt-3">CineSync ©️</p>
        <p class="warning_text">*Вся информация на сайте, включая названия/описания/изображения фильмов, ФИО актеров
            и режиссеров
            сгенерированы нейросетью и не имеют отношения к реальности</p>
    </div>
</footer>