.info_block {
    height: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text_block {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.change_success_title, .change_success_text {
    color: #eaeaea;
}
.change_success_btn {
    margin-top: 3vw;
}
.change_success_image {
    width: 20vw;
}