{% extends "base.html" %}
{% load static %}
{% load tags %}
{% block title %}
{{ session.film.name }}
{% endblock %}
{% block content %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/timetable/session.css' %}" rel="stylesheet">
<div class="film_info_block">
    <img src="{{ session.film.image.url }}" class="film_session_image"
         alt="Фотография фильма не найдена">
    <div class="film_info_text_block">
        <h1 class="film_info_text">{{ session.film.name }}</h1>
        <p class="film_info_text">{{ session.auditorium.number }}</p>
        <p class="film_info_text">{{ session.start_datetime }}</p>
        <p class="film_info_description">{{ session.film.description }}</p>
        <div class="tags_block">
            {% for genre in session.film.genres.all %}
            <div class="badge text-bg-secondary genre">{{genre.name}}</div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="seats_card" style="height: {{ height }}vw;">
    <form method="post">
        {% csrf_token %}
        <table>
            <tbody>
            {% for row in session.auditorium.rows.all %}
            <tr>
                <td class="row_number_cell cell">Ряд {{ row.row_number }}</td>
                {% for seat in seats %}
                <td class="cell">
                    <label class="film_session">
                        <input type="checkbox" name="selected_seats"
                               value="[{{ seat.row_number }}, {{ row.row_number }}]" class="seat_checkbox">
                        <span class="seat_number">{{ seat.row_number }}</span>
                    </label>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary buy_btn">Купить билет</button>
    </form>
</div>
<script src="{% static 'js/timetable/session.js' %}"></script>
{% endblock %}