.header_icon {
    width: 5vw;
    border-radius: 1.5vw;
    padding:1vw;
}
.header_row, .auth_row, header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}
header {
    justify-content: space-between;
    background-color: #eaeaea;
    margin: 1%;
    width: 98%;
    border-radius: 0.8vw;;
    border: 2px solid #0d1d3a;
}
.header_container {
    width: 100%;
    position: fixed;
    z-index: 100;
}
.nav-item {
    margin: 5px;
}
.header_hole {
    height: 5vw;
}
.auth_row {
    margin-right: 1vw;
}
.user_link {
    text-decoration: none;
    color: #424242;
}
