.my_order_card {
    width: 100%;
    background-color: #eaeaea;
    margin-top: 1vw;
    margin-bottom: 1vw;
    border-radius: 3vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}
.age_limit {
    margin-left: 1vw;
    padding: 0.1vw;
    padding-left: 0.25vw;
    padding-right: 0.25vw;
    border: 0.15vw solid #aaaaaa;
    color: #aaaaaa;
    font-weight: bold;
    border-radius: 0.5vw;
    font-size: 0.7vw;
}
.film_card_image {
    object-fit: cover;
    height: 15vw !important;
    width: 10vw !important;
    border-radius: 3vw;
}
.film_card_column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 13vw;
    margin-left: 2vw;
    overflow-x: scroll;
}
.film_card_column::-webkit-scrollbar {
    height: 7px;
}
.film_card_column::-webkit-scrollbar-thumb {
    background-color: #0d1d3a;
    border-radius: 5vw;
    border: 1px solid #eaeaea;
}
.film_card_title_row {
    height: 17%;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}
.film_card_row {
    height: 66%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.film_card_footer {
    height: 17%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}
.countries_block {
    max-width: 15vw;
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    border-radius: 0.5vw;
}
.countries {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 0.1vw;
    flex-direction: row;
}
.countries span, .film_duration {
    color: #aaaaaa;
    font-weight: bold;
    padding: 0.4vw;
    margin-left: 0.6vw;
}
.countries_block::-webkit-scrollbar {
    height: 5px;
}
.countries_block::-webkit-scrollbar-thumb {
    background-color: #0d1d3a;
    border-radius: 5vw;
    border: 2px solid #eaeaea;
}
.film_title {
    font-size: 1.5vw;
    max-width: 40vw;
    text-wrap: nowrap;
    overflow-x: auto;
}
.film_title::-webkit-scrollbar {
    height: 7px;
}
.film_title::-webkit-scrollbar-thumb {
    background-color: #0d1d3a;
    border-radius: 5vw;
    border: 1px solid #eaeaea;
}
.ticket {
    background-color: #0d1d3a;
    padding: 0.5vw;
    color: #eaeaea;
    margin: 1vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    font-weight: bold;
    border-radius: 1vw;
    width: 5vw;
}
.column {
    width: 18vw;
}