{% extends "base.html" %}
{% load static %}
{% block title %}
Смена пароля
{% endblock %}
{% block content %}
  <link href="{% static 'css/users/password_change_success.css' %}" rel="stylesheet">
  <div class="info_block">
    <div class="text_block">
      <h1 class="change_success_title">Пароль успешно изменен</h1>
      <img class="change_success_image" src="{% static 'img/success.png' %}">
      <a class="btn btn-primary change_success_btn" href="{% url 'home:homepage' %}">На главную</a>
    </div>
  </div>
{% endblock %}